<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="invoice-box">

<div class="invoice-header">

<div>
<div class="company-name">SA Enterprises</div>
<div>GSTIN: 27XXXXX</div>
</div>

<div>
<div class="invoice-title">TAX INVOICE</div>
Invoice #: {{invoice_number}}<br>
Date: {{date}}
</div>

</div>

<div class="invoice-details">
<b>Bill To</b><br>
{{customer_name}}<br>
{{customer_address}}
</div>

<table class="invoice-table">

<tr>
<th>Description</th>
<th>Qty</th>
<th>Rate</th>
<th>Total</th>
</tr>

<tr>
<td>{{item_desc}}</td>
<td>{{quantity}}</td>
<td>{{rate}}</td>
<td>{{item_total}}</td>
</tr>

</table>

<div class="total-section">

<table>

<tr>
<td>Subtotal</td>
<td>{{subtotal}}</td>
</tr>

<tr>
<td>GST</td>
<td>{{gst_amount}}</td>
</tr>

<tr>
<td>Total</td>
<td>{{grand_total}}</td>
</tr>

</table>

</div>

<div class="signature">
Authorized Signature
</div>

</div>

</body>
</html>
